header{height: 120px;
		Background-Color:#6a7355;	
}
#container	 {font-family:Baskerville Old Face , Geneva, sans-serif;
			font-size:15px;
			width: 1000px;
			Margin-left: 80px;
			
}		
body{
	background-color:gray;
}

#nav-containter, footer {
		background-color: #f0efee;
	
}

nav li,footer li {
		display:inline;
		padding-right:20px;
		
}
nav a:link {color: #black;
			text-decoration:none;
}
nav a:visited {color:#6a7355;
				text-decoration:none;
}nav a:hover {color:#FFF;
		text-decoration:none;
		background-color:#6a7355 ;
}

			
#content {
			background-color: #f0efee;
			padding:10px;
			height: 800px;
			text-align: center;
			justify-content: center;
			font-family: Times New Roman;
			font-size: 20px;			
}

	