header{height: 120px;
		Background-Color:#6a7355;	
}
#container	 {font-family:Baskerville Old Face , Geneva, sans-serif;
			font-size:15px;
			width: 1000px;
			Margin-left: 80px;
			
}		
body{
	background-color:gray;
}

#nav-containter, footer {
		background-color: #f0efee;
	
}

nav li,footer li {
		display:inline;
		padding:20px;
		font-size: 20px;
		
}
nav a:link,footer a:link {color: black;
			text-decoration:none;
}
nav a:visited,footer a:visited {color:#6a7355;
				text-decoration:none;
}
nav a:hover,footer a:hover{color:#FFF;
		text-decoration:none;
		background-color:#6a7355 ;
}

			
#content {
			background-color: #f0efee;
			padding:10px;
			height: 800px;
			text-align: center;
			justify-content: center;
			font-family: Times New Roman;
			font-size: 20px;			
}

<<<<<<< HEAD
.open-button {
  background-color: #6a7355;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  font-size: 20px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 10px solid #6a7355;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 250px ;
  padding: 15px;
  margin: 5px;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;

}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
 
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #6a7355;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #4d0000;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
	
=======
.contact-link:hover {
	background-color: transparent;
}

.contact-link {
	display:inline-block;
	height:100%;
	padding: 5px;
}

.fab, .fab:visited {
	color:black;
}

.fab:hover {
	color: #6a7355 !important;
}	
>>>>>>> aa3fbdf8ba1d4a7e1b2e9ec5e2baee843e64e9ca
